* {
  font-family: "Roboto";
}

/* HEADER */

header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px 184px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  font-weight: 600;
}

a,
.info {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 96px 0px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  gap: 20px;
  width: 500px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.info {
  margin-top: -35px;
}

.hero-btn {
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #e5e7eb;
}

/* MAIN */

main {
  text-align: center;
}

.top {
  padding: 0px 184px 24px 184px;
}

h2 {
  padding: 24px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.boxes {
  display: flex;
}

.box {
  width: 25%;
}

.box img {
  border-radius: 10px;
}

.mid {
  background-color: #e5e7eb;
  padding: 100px 250px;
}

.quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.credit {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 500;
}

.bottom {
  padding: 100px 250px;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  border-radius: 10px;
  color: #e5e7eb;
  padding: 50px 75px;
}

.call-title p {
  font-size: 24px;
  font-weight: 600;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0;
}

.main-btn {
  background-color: #3882f6;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #e5e7eb;
}

footer {
  background-color: #1f2937;
  text-align: center;
  padding: 50px 0px;
  color: #e5e7eb;
  font-size: 18px;
}
